USE [GSM project]
GO
/****** Object:  Table [dbo].[abo_fatura_bilgileri]    Script Date: 20.10.2019 21:12:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[abo_fatura_bilgileri](
	[abo_id] [float] NULL,
	[abo_adi_soyadi] [nvarchar](255) NULL,
	[abo_ayda_konustugu_dakika] [float] NULL,
	[abo_attigi_mesaj_sayisi] [float] NULL,
	[abo_son_odeme_tarihi] [datetime] NULL,
	[odedi_mi] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[abo_web]    Script Date: 20.10.2019 21:12:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[abo_web](
	[abo_id] [float] NULL,
	[abo_adi_soyadi] [nvarchar](255) NULL,
	[abo_kull_adi] [nvarchar](255) NULL,
	[abo_sifre] [nvarchar](255) NULL,
	[abo_en_son_girisi] [datetime] NULL,
	[abo_ayda_giris_sayisi] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aboneler]    Script Date: 20.10.2019 21:12:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aboneler](
	[abo_id] [float] NULL,
	[abo_adi_soyadi] [nvarchar](255) NULL,
	[abo_tel_no] [nvarchar](255) NULL,
	[abo_ev_adres] [nvarchar](255) NULL,
	[abo_is_adres] [nvarchar](255) NULL,
	[abo_il] [nvarchar](255) NULL,
	[abo_kimlik_seri_no] [float] NULL,
	[abo_sec_tarife] [nvarchar](255) NULL,
	[abo_yurt_disina_istiyor_mu] [nvarchar](255) NULL,
	[abo_bayi] [nvarchar](255) NULL,
	[abo_acilis_tarihi] [datetime] NULL,
	[abo_operator] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bayiler]    Script Date: 20.10.2019 21:12:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bayiler](
	[bayi_bolge] [nvarchar](255) NULL,
	[bayi_adi_soyadi] [nvarchar](255) NULL,
	[bayi_sahibi_adi_soyadi] [nvarchar](255) NULL,
	[bayi_adres] [nvarchar](255) NULL,
	[bayi_il] [nvarchar](255) NULL,
	[bayi_telefon] [nvarchar](255) NULL,
	[bayi_fax] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bolge_bayilikleri]    Script Date: 20.10.2019 21:12:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bolge_bayilikleri](
	[bayi_bolge] [nvarchar](255) NULL,
	[bayi_firma_adi] [nvarchar](255) NULL,
	[bayi_bolge_mudur_adi_ve_soyadi] [nvarchar](255) NULL,
	[bayi_adres] [nvarchar](255) NULL,
	[bayi_telefon] [nvarchar](255) NULL,
	[bayi_fax] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faturali_tarifeler]    Script Date: 20.10.2019 21:12:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faturali_tarifeler](
	[operator_adi] [nvarchar](255) NULL,
	[dakikada_konusma_ucreti] [float] NULL,
	[sms_basina_ucret] [float] NULL,
	[tarifeye_ek] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faturasiz_tarifeler]    Script Date: 20.10.2019 21:12:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faturasiz_tarifeler](
	[operator_adi] [nvarchar](255) NULL,
	[tarife_ucreti] [nvarchar](255) NULL,
	[tarife_ozellikleri] [nvarchar](255) NULL,
	[tarife_sart] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[abo_fatura_bilgileri] ([abo_id], [abo_adi_soyadi], [abo_ayda_konustugu_dakika], [abo_attigi_mesaj_sayisi], [abo_son_odeme_tarihi], [odedi_mi]) VALUES (5, N'IŞIN SARICA ', 35, 10, CAST(N'2019-11-15T00:00:00.000' AS DateTime), N'Odemedi')
INSERT [dbo].[abo_fatura_bilgileri] ([abo_id], [abo_adi_soyadi], [abo_ayda_konustugu_dakika], [abo_attigi_mesaj_sayisi], [abo_son_odeme_tarihi], [odedi_mi]) VALUES (7, N'NURETTİN İREM METİNEREN ', 94, 135, CAST(N'2019-11-01T00:00:00.000' AS DateTime), N'Odemedi')
INSERT [dbo].[abo_fatura_bilgileri] ([abo_id], [abo_adi_soyadi], [abo_ayda_konustugu_dakika], [abo_attigi_mesaj_sayisi], [abo_son_odeme_tarihi], [odedi_mi]) VALUES (8, N'MAHMUT ARDA TOY ', 103, 136, CAST(N'2019-11-16T00:00:00.000' AS DateTime), N'Odedi')
GO
INSERT [dbo].[abo_web] ([abo_id], [abo_adi_soyadi], [abo_kull_adi], [abo_sifre], [abo_en_son_girisi], [abo_ayda_giris_sayisi]) VALUES (1, N'GÖKÇEN EYRİOĞLU ', N'gökçen.eyrioğlu.', N'3RLDFgkF', CAST(N'2019-11-13T00:00:00.000' AS DateTime), 21)
INSERT [dbo].[abo_web] ([abo_id], [abo_adi_soyadi], [abo_kull_adi], [abo_sifre], [abo_en_son_girisi], [abo_ayda_giris_sayisi]) VALUES (2, N'MUSTAFA KEMAL ZENGİL ', N'mustafa.kemal.zengil.', N'O49XB20q', CAST(N'2019-09-02T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[abo_web] ([abo_id], [abo_adi_soyadi], [abo_kull_adi], [abo_sifre], [abo_en_son_girisi], [abo_ayda_giris_sayisi]) VALUES (3, N'BEKİR KOÇYİĞİT ', N'bekir.koçyiğit.', N'YKbtkvr2', CAST(N'2019-09-08T00:00:00.000' AS DateTime), 10)
GO
INSERT [dbo].[aboneler] ([abo_id], [abo_adi_soyadi], [abo_tel_no], [abo_ev_adres], [abo_is_adres], [abo_il], [abo_kimlik_seri_no], [abo_sec_tarife], [abo_yurt_disina_istiyor_mu], [abo_bayi], [abo_acilis_tarihi], [abo_operator]) VALUES (1, N'GÖKÇEN EYRİOĞLU ', N'0 541 741 81 78', N'60.yıl mah.Yavuz Sultan Selim cad. no:123', N'Çınar Mah. 756. Sokak No:19 / B ', N'Bingol', 67, N'Faturasiz', N'Istemiyor', N'BAYEZİD İLETİŞİM ', CAST(N'2006-05-09T00:00:00.000' AS DateTime), N'Bimcell')
INSERT [dbo].[aboneler] ([abo_id], [abo_adi_soyadi], [abo_tel_no], [abo_ev_adres], [abo_is_adres], [abo_il], [abo_kimlik_seri_no], [abo_sec_tarife], [abo_yurt_disina_istiyor_mu], [abo_bayi], [abo_acilis_tarihi], [abo_operator]) VALUES (2, N'MUSTAFA KEMAL ZENGİL ', N'0 580 863 43 75', N'Çağdaş Mahallesi 16 Nolu Cadde Kapı No:154/B ', N'Yüzyıl Mah. 2214 Sok. No:1-3', N'Sanliurfa', 87, N'Faturasiz', N'Istiyor', N'KARDEŞLER ELEKTRONİK ', CAST(N'2013-04-28T00:00:00.000' AS DateTime), N'Turkcell')
INSERT [dbo].[aboneler] ([abo_id], [abo_adi_soyadi], [abo_tel_no], [abo_ev_adres], [abo_is_adres], [abo_il], [abo_kimlik_seri_no], [abo_sec_tarife], [abo_yurt_disina_istiyor_mu], [abo_bayi], [abo_acilis_tarihi], [abo_operator]) VALUES (3, N'BEKİR KOÇYİĞİT ', N'0 570 983 67 66', N'Akkent Mah. 134012 Nolu Cad. Kapı No:18 B/B-B/A ', N'100. Yıl Mah. Barbaros Cad. 2187. Sokak No: 2-B ', N'Bingol', 82, N'Faturasiz', N'Istiyor', N'BAYEZİD İLETİŞİM ', CAST(N'2011-05-06T00:00:00.000' AS DateTime), N'Turkcell')
GO
INSERT [dbo].[bayiler] ([bayi_bolge], [bayi_adi_soyadi], [bayi_sahibi_adi_soyadi], [bayi_adres], [bayi_il], [bayi_telefon], [bayi_fax]) VALUES (N'Guneydogu', N'KARACA İLETİŞİM', N'MEHMET NEDİM ÇETEMEN ', N'Çukur Mah. Dr. Mecit Barlas Cad. 2/E', N'Gaziantep', N'0 526 815 69 63', N'356 75 60')
INSERT [dbo].[bayiler] ([bayi_bolge], [bayi_adi_soyadi], [bayi_sahibi_adi_soyadi], [bayi_adres], [bayi_il], [bayi_telefon], [bayi_fax]) VALUES (N'Dogu', N'ORUÇ GAZİ KAŞOĞLU İLETİŞİM', N'ABDURRAHMAN FUAT ÖZER ÇELİK ', N'Bey Mah. Atatürk Blv. 16/C', N'Diyarbakir', N'0 598 682 21 56', N'354 16 74')
INSERT [dbo].[bayiler] ([bayi_bolge], [bayi_adi_soyadi], [bayi_sahibi_adi_soyadi], [bayi_adres], [bayi_il], [bayi_telefon], [bayi_fax]) VALUES (N'Akdeniz', N'AKIN TEKNOLOJİ', N'NEŞE ALICI ', N'Karataş Mah. 400 Nolu Cad. 8', N'Mersin', N'0 544 381 55 45', N'398 10 79')
INSERT [dbo].[bolge_bayilikleri] ([bayi_bolge], [bayi_firma_adi], [bayi_bolge_mudur_adi_ve_soyadi], [bayi_adres], [bayi_telefon], [bayi_fax]) VALUES (N'Guneydogu', N'Youdevo', N'Yasin Yildirim', N'Karataş 1. Bölge 418 Nolu Cad. No:22/A', N'0 543 651 84 78', N'382 14 74')
INSERT [dbo].[bolge_bayilikleri] ([bayi_bolge], [bayi_firma_adi], [bayi_bolge_mudur_adi_ve_soyadi], [bayi_adres], [bayi_telefon], [bayi_fax]) VALUES (N'Dogu', N'Softdevup', N'Abdullah Kanat', N'Şahintepe Mah.133388 sok.No:16 ', N'0 541 450 32 36', N'349 43 25')
INSERT [dbo].[bolge_bayilikleri] ([bayi_bolge], [bayi_firma_adi], [bayi_bolge_mudur_adi_ve_soyadi], [bayi_adres], [bayi_telefon], [bayi_fax]) VALUES (N'Akdeniz', N'Udeler', N'Sezer Bugday', N'23 Nisan Mh.23 sokak No:1/2', N'0 539 603 59 84', N'394 14 75')
INSERT [dbo].[faturali_tarifeler] ([operator_adi], [dakikada_konusma_ucreti], [sms_basina_ucret], [tarifeye_ek]) VALUES (N'Turkcell', 0.15, 0.07, N'500 MB internet')
INSERT [dbo].[faturali_tarifeler] ([operator_adi], [dakikada_konusma_ucreti], [sms_basina_ucret], [tarifeye_ek]) VALUES (N'Bimcell', 0.09, 0.03, N'2GB internet')
INSERT [dbo].[faturali_tarifeler] ([operator_adi], [dakikada_konusma_ucreti], [sms_basina_ucret], [tarifeye_ek]) VALUES (N'Zoom', 0.12, 0.05, N'1GB internet')
INSERT [dbo].[faturasiz_tarifeler] ([operator_adi], [tarife_ucreti], [tarife_ozellikleri], [tarife_sart]) VALUES (N'Turkcell', N'29.99', N'500DK+500SMS+2GB Internet', N'1 ay geçerli')
INSERT [dbo].[faturasiz_tarifeler] ([operator_adi], [tarife_ucreti], [tarife_ozellikleri], [tarife_sart]) VALUES (N'Bimcell', N'24.99', N'900DK+1200SMS+3GB Internet', N'2 ay geçerli')
INSERT [dbo].[faturasiz_tarifeler] ([operator_adi], [tarife_ucreti], [tarife_ozellikleri], [tarife_sart]) VALUES (N'Zoom', N'32.99', N'700DK+600SMS+2.5GB Internet', N'45 gün geçerli')
